appnope==0.1.0
beautifulsoup4==4.5.1
cffi==1.9.1
click==6.6
decorator==4.0.10
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Login==0.4.0
flask-mongoengine==0.8
Flask-WTF==0.13.1
html5lib==0.999999999
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.7.0
MarkupSafe==0.23
misaka==2.0.0
mongoengine==0.10.6
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pycparser==2.17
Pygments==2.1.3
pymongo==3.3.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.11.11
WTForms==2.1
