{% extends "base.html" %}
{% block title %}
    文章列表
{% endblock %}

{% block head %}
    <style>
        li {
            list-style: none;
        }
        .entries ul li h2 a {
            font-size: .5rem;

        }
        .entries ul li h2  {

        }
    </style>
{% endblock %}

{% block body %}
    {% if session.logged_in %}
        <!-- 新建文章的功能移入管理控制台
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
            <dl>
                <dt>Title:
                <dd><input type="text" size="30" name="title">
                <dt>Text:
                <dd><textarea name="text" rows="5" cols="40"></textarea>
                <dd><input type="submit" value="Share">
            </dl>
        </form>
        -->
    {% endif %}
    <ul class="entries">
        {% for article in articles %}
            <li>
                <h2>
                    <a href="{{ url_for('article', article_id=article.id) }}">{{ article.title }}</a>
                </h2>
            </li>
        {% else %}
            <li>
                <em>暂无文章</em>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block foot %}
{% endblock %}
