<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}我的博客{% endblock %}</title>
    <!--
    -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="page">
        <h1>欢迎</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">log in</a>
            {% else %}
                <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}
            &copy; Copyright 2016 by <a href="http://www.readme.tech/">Readme.tech</a>.
        {% endblock %}
    </div>
</body>
{% block foot %}{% endblock %}
</html>
