<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}我的博客{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% block index_active %}{% endblock %}" href="{{ url_for('index') }}">首页</a>
            <a class="blog-nav-item {% block about_active %}{% endblock %}" href="{{ url_for('about_me') }}">关于</a>
            <a class="blog-nav-item {% block rss_active %}{% endblock %}" href="{{ url_for('rss') }}">RSS</a>
            <span id="search-icon" class="glyphicon glyphicon-search blog-nav-item"></span>
            <form class="navbar-right" method="post" action="{{ url_for('search') }}">
                <input id="index-query" type="text" name="query" class="form-control" placeholder="搜索">
            </form>
        </nav>
    </div>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>
<!-- /.container -->

<!-- TODO 将网站信息、备案信息移入配置文件中 -->
<footer class="blog-footer">
    <p>
        &copy; Copyright 2016 by <a href="http://www.brctl.com/">brctl.com</a>.
        　<a href="http://www.miitbeian.gov.cn/">京ICP备16067359</a>
	<div style="width:300px;margin:0 auto; padding:20px 0;">
	    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602120023" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{{ url_for('static', filename='img/beian_gongan.png') }}" style="float:left;"/>
	        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010602120023号</p>
	    </a>
	</div>
    </p>
    <p>
        <a href="#">返回顶部</a>
    </p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/lib/jquery-1.11.2.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script>
    $(function() {
        // 搜索框获得/失去焦点时的动作
        var $indexQuery = $('#index-query')
        var focusWidth = $indexQuery.outerWidth() * 2,
            blurWidth = $indexQuery.outerWidth()
        $indexQuery.on({
            'focus': function() {
                if($(window).width() > 768) {
                    $(this).animate({width: focusWidth}, 'slow')
                }
            },
            'blur': function() {
                if($(window).width() > 768) {
                    $(this).animate({width: blurWidth}, 'slow')
                }
            }
        })

        // 搜索图标点击事件
        var $searchForm = $('form.navbar-right')
        $('#search-icon').on('click', function() {
            $searchForm.css('display', 'inline-block')
        })
    })
</script>
{% block foot %}{% endblock %}
</body>
</html>
