{% extends "base.html" %}
{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block login_active %}
    active
{% endblock %}

{% block body %}
    <div class="container login-body">
        <form class="form-signin" method="post" action="{{ action_uri }}">
              {#
              action="/login{% if redirect_uri %}{{ '?redirect_uri=' + redirect_uri }}{% endif %}">
        #}
            <h2 class="form-signin-heading">登录</h2>
            <!-- 错误信息显示 -->
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <label for="inputUsername" class="sr-only">账号</label>
            <input name="loginid" type="text" id="inputEmail" class="form-control" placeholder="请输入您的账号" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="请输入您的密码" required>

            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="True"> 记住我的登录状态
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>

    {{ super() }}
{% endblock %}

{% block foot %}
{% endblock %}
