<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}我的博客{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% block index_active %}{% endblock %}" href="/">首页</a>
            <a class="blog-nav-item {% block about_active %}{% endblock %}" href="/about">关于</a>
            <!-- 身份判断 -->
            {% if not current_user.is_authenticated %}
                <a class="blog-nav-item {% block register_active %}{% endblock %}" href="/register">注册</a>
                <a class="blog-nav-item {% block login_active %}{% endblock %}" href="/login">登录</a>
            {% else %}
                {% if current_user.type == 1 %}
                    <a class="blog-nav-item" href="/admin">管理</a>
                {% endif %}
                <span>欢迎您，{{ current_user.login_id }}</span>
                <a class="blog-nav-item" href="/logout">登出</a>
            {% endif %}
            <!--
            <a class="blog-nav-item" href="#">Press</a>
            <a class="blog-nav-item" href="#">New hires</a>
            <a class="blog-nav-item" href="#">About</a>
            -->
        </nav>
    </div>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>
<!-- /.container -->

<footer class="blog-footer">
    <!--
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
    -->
    <p>&copy; Copyright 2016 by <a href="http://www.readme.tech/">Readme.tech</a>.</p>

    <p>
        <a href="/admin/">管理控制台</a>
    </p>

    <p>
        <a href="#">返回顶部</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/lib/jquery-1.11.2.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
{% block foot %}{% endblock %}
</body>
</html>