{% extends "base.html" %}
{% block title %}
    注册
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block register_active %}
    active
{% endblock %}

{% block body %}
    <!--
    <h2>Login</h2>
    -->
    {#
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
    #}
    <!--
    <form action="{# {{ url_for('login') }} #}" method="post">
        <dl>
            <dt>Username:
            <dd><input type="text" name="username">
            <dt>Password:
            <dd><input type="password" name="password">
            <dd><input type="submit" value="Login">
        </dl>
    </form>
    -->
    <div class="container">
        <form class="form-signin" method="post" action="/register">
            <h2 class="form-signin-heading">注册</h2>
            <label for="inputUsername" class="sr-only">账号</label>
            <input name="loginid" type="text" id="inputEmail" class="form-control" placeholder="请输入您的账号" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="请输入您的密码" required>
            <!-- TODO 再次输入密码进行校验 -->
            <!-- TODO 前端校验/后端校验 -->
            <!--
            <label for="inputPassword" class="sr-only">再次</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="请再次您的密码" required>
            -->

            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>

    {{ super() }}
{% endblock %}

{% block foot %}
{% endblock %}
